pip==21.3.1
fastapi==0.66.0
pydantic==1.8.2
pathlib==1.0.1
python-jose==3.3.0
passlib==1.7.4
starlette==0.14.2
bcrypt==3.2.0
pydantic[email]
shortuuid
uvicorn
aiofiles
python-multipart
deta
deta[async]==1.1.0a1